* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  html {
    overflow-x: hidden;
  }
  
  body {
    background-color: black;
  }
  
  img {
    display: block;
    width: 250px;
    height: 150px;
    margin: -20px auto 0px auto;
  }
  
  h1 {
    text-align: center;
    font-size: 35px;
    color: white;
    width: 500px;
    margin: 0 auto 0 auto;
  }

 

  .pokemon-container{
    width:400px;
    margin:20px auto 20px auto;
    background-color:rgb(245, 246, 247);
    padding:1px;
    border-radius:25px;
    box-shadow: 10px 10px grey;
    
  }

  .pokemon-container > p {
    margin-top:30px;
    margin-bottom:10px;
    text-align: center;
  }

 


.input-outer-border {
    
    border: 2px solid transparent;
    width: 200px;
  }
  .input-outer-border:focus-within {
    border-color: rgb(50 159 210);
  }
  .input-inner-border input {
    display: block;
    border: none;
    height: 15px;
    width: 180px;
    background-color: white;
    font-size: xx-large;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-size:16px;
    padding:3px;
  }
  
  .input-inner-border input:focus {
    outline: none;
  }

  .input-inner-border {
    display: block;
    border: 1px solid black;
    padding: 10px;
    background-color: white;
  }

.search-for-pokemon{
    display:flex;
    justify-content: center;
    align-items: center;
    gap:20px;
}  

.search-btn{
    width:70px;
    height:40px;
    background-color: purple;
    font-size:12px;
    color:White;
    padding:7px;
    border-radius:18px;
    border:none;
}

.pokemon-character{
    width:90%;
    margin:30px auto 20px auto;
    background-color:rgb(235, 240, 240);
    height:280px;
    padding:1px;
}

.pokemon-name{
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:18px;
}


.pokemon-image {
    display: block;
    width: 250px;
    height: 150px;
    margin: 0px auto 0px auto;
  }


.weight-height{
    margin-left:10px;
    margin-top:10px;
    margin-bottom:10px;
    font-size:12px;

}

.pokemon-strength{
    margin-left:10px;
    display:flex;
}



.strength1, .strength2{
    margin: 10px 6px 10px 0px;
    padding:5px;
    width:70px;
    height:30px; 
    background-color:rgb(255 94 0);
    text-align:center;
    align-content:center;
    border-radius:5px;
    font-size:12px;
    display:none;
}
.pokemon-characteristics{
    margin-bottom:20px;
}
.base-stats{
    display:flex;
    justify-content: center;
    justify-items: center;
    gap:10px;

}

.base{
    width:250px;
    height:40px;
    background-color:purple;
    color:white;
    text-align: center;
    align-content:center;
}
  
.stat{
    width:100px;
    height:40px;
    background-color:purple;
    color:white;
    text-align: center;
    align-content:center;
    
}

.base-stats{

    margin-bottom:10px;
}

.base-stats:first-child .base{
    font-weight:bold;
}

.base-stats:first-child .stat{
    font-weight:bold;
}


.hide *{
    display:none
 } 


